<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:link name="camera"
                x1="8.63869e-19" y1="-0.000645903" z1="-0.00126913" mass="0.00147364"
                ixx="7.56624e-08" ixy="-1.5923e-41" ixz="1.64229e-39" iyy="7.05662e-08" iyz="-2.12341e-09" izz="1.43344e-07"
                x2="1.95156e-18" y2="0" z2="0" roll2="3.14159" pitch2="-7.4988e-33" yaw2="0"
                r="0" g="1.0" b="0" a="1.0"/>

    <xacro:joint name="camera_pose" type="fixed"
                 x1="-0.2815" y1="0.001" z1="0.0995" roll="-1.5708" pitch="-6.12323e-17" yaw="-1.5708"
                 parent_link="base_link" child_link="camera"/>

    <gazebo reference="camera">
        <material>Gazebo/Green</material>
    </gazebo>

    <link name="camera_optical"/>

    <gazebo reference="camera_optical">
        <sensor name="camera" type="camera">
            <update_rate>30.0</update_rate>
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>4000</width>
                    <height>3000</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>camera_pi</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera_optical</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>

    <xacro:joint name="camera_optical_pose" type="fixed"
                 x1="0" y1="0" z1="0" roll="-1.5708" pitch="1.5708" yaw="-1.5708"
                 parent_link="camera" child_link="camera_optical"/>
</robot>