<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:link name="base_link"
                x1="-0.134213" y1="0.001" z1="0.0891435" mass="7.44828"
                ixx="0.0324051" ixy="3.49985e-18" ixz="0.000477967" iyy="0.0607446" iyz="1.18871e-18" izz="0.0811136"
                x2="-0.1325" y2="0.001" z2="0.0395" roll2="-6.12323e-17" pitch2="-1.22465e-16" yaw2="-1.22465e-16"
                r="0.175" g="0.175" b="0.175" a="1.0"/>

    <gazebo reference="base_link">
        <material>Gazebo/DarkGray</material>
    </gazebo>
</robot>