<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="controller">
    <gazebo>
        <plugin name="tank_controller" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:transmission joint_name="wheel1_joint" actuator_name="motor1"/>
    <xacro:transmission joint_name="wheel2_joint" actuator_name="motor2"/>
    <xacro:transmission joint_name="wheel3_joint" actuator_name="motor3"/>
    <xacro:transmission joint_name="wheel4_joint" actuator_name="motor4"/>
</robot>