<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tank">
    <xacro:include filename="macros.xacro"/>
    <xacro:include filename="chassis.xacro"/>
    <xacro:include filename="camera.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="tracks.xacro"/>
    <xacro:include filename="wheels.xacro"/>
</robot>
