<launch>
  <arg name="world_file" default="$(find tank)/worlds/hello.world"/>
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="-u -s libgazebo_ros_factory.so $(arg world_file)" output="screen"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find tank)/urdf/tank.urdf.xacro"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model tank -param robot_description"
        respawn="false" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tank)/rviz/display.rviz" required="true"/>
</launch>